@media (max-height: 850px) {
  body {
    margin: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  select {
    width: 25vw;
    padding: 7px;
    margin-top: 5px;
    font-size: 20px;
    border: 1.5px solid black;
    cursor: pointer;
  }
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    @import "./admin.scss";
    @import "./create.scss";
    .navbar {
      height: 40px;
      background-color: darkblue;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        &:focus {
          color: #cea135;
        }
      }
    }
  }
  .todo {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    border: 1.5px solid black;
    margin: 20px 0px;
    .todo-content {
      display: flex;
      align-items: center;
      p {
        padding: 0px 15px;
      }
      i {
        font-size: 20px;
        padding: 0px 10px;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
    .check {
      border-top: 1.5px solid black;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px 0px;

      button {
        border: none;
        background-color: white;
        outline: 0;
        cursor: pointer;
        width: 99%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
